
body {
    font: 20px Raleway, sans-serif;
    line-height: 1.8;
  }
  p{
    font-size: 25px;
    color: #2f2f2f;
  }
  a{
    font-size: 25px;
    color: #2f2f2f;
    text-decoration: none;
  }
  a:hover {
    background-color: #00ffaa;
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }
  a.link:visited {
    text-decoration: none;
    color: #2f2f2f;
  }
  .bg-1 { 
    background-color: #ffffff;
    color: #2f2f2f;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .container-main {
    padding-bottom: 70px;
  }
  .icon {
    vertical-align:bottom;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .no-padding-bottom {
    margin-bottom: 0px;
  }






/* ===============================================================================
CUROSR 
*/
  .cursor {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  /* border: 2px solid white; */
  /* background-color: rgba(255, 255, 255, 0.356); */
  height: 30px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.cursor::after,
.cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  height: 10px;
  width: 10px;
  border-radius: 50px;
}
.cursor::before {
  background-color: rgba(0, 0, 0, 0);
}
.cursor.click::before {
  animation: click 1s ease forwards;
  background-color: rgb(0, 0, 0);
}
@keyframes click {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(7);
  }
}


/* ===============================================================================
SKIP-LINK 
*/
.skip-link {
    position: absolute;
    top: -60px;
    left: 0;
    background: white;
    color: white;   
    padding: 8px;
    z-index: 100;
  }
  
  .skip-link:focus {
    top: 0;
  }


  /* ===============================================================================
TEXT SELECTION COLORS
*/
  /*** Works on common browsers ***/
::selection {
  background-color: #00ffaa;
  color: rgb(0, 0, 0);
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: #00ffaa;
  color: rgb(0, 0, 0);
}

/***For Other Browsers ***/
::-o-selection {
  background-color: #00ffaa;
  color: rgb(0, 0, 0);
}

::-ms-selection {
  background-color: #00ffaa;
  color: rgb(0, 0, 0);
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: #00ffaa;
  color: rgb(0, 0, 0);
}


  /* ===============================================================================
FOOTER
*/
#footer {
  bottom: 0;
  color: #707070;
  height: 2em;
  left: 0;
  position: relative; 
  font-size: small;
  width:100%;
}



.sidenav {
  height: 100%;
  width: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 16px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.reader {
  height: 100%;
}