
body {
    font-family: 'Open Sans', sans-serif;
    font: 20px Raleway, sans-serif;
    line-height: 1.8;
  }
  p{
    font-size: 16px;
    color: #2f2f2f;
  }
  li{
    font-size: 16px;
    color: #2f2f2f;
  }
  h1{
    font-weight: 900;
  }
  a{
    font-size: 16px;
    color: #2f2f2f;
    text-decoration: none;
  }
  .logo{
    font-size: 45px;
    color: #2f2f2f;
    text-decoration: none;
  }
  .hover:hover {
    background-color: #00ffaa;
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }
  a.link:visited {
    text-decoration: none;
    color: #2f2f2f;
  }
  .bg-1 { 
    background-color: #ffffff;
    color: #2f2f2f;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .container-main {
    padding-bottom: 70px;
  }
  .icon {
    vertical-align:bottom;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .no-padding-bottom {
    margin-bottom: 0px;
  }






/* ===============================================================================
CUROSR 
*/
  .cursor {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  /* border: 2px solid white; */
  /* background-color: rgba(255, 255, 255, 0.356); */
  height: 30px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.cursor::after,
.cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  height: 10px;
  width: 10px;
  border-radius: 50px;
}
.cursor::before {
  background-color: rgba(0, 0, 0, 0);
}
.cursor.click::before {
  animation: click 1s ease forwards;
  background-color: rgb(0, 0, 0);
}
@keyframes click {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(7);
  }
}


/* ===============================================================================
SKIP-LINK 
*/
.skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    background: white;
    color: white;   
    padding: 8px;
    z-index: 100;
  }
  
  .skip-link:focus {
    top: 0;
  }


  /* ===============================================================================
TEXT SELECTION COLORS
*/
  /*** Works on common browsers ***/
::selection {
  background-color: #00ffaa;
  color: rgb(0, 0, 0);
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: #00ffaa;
  color: rgb(0, 0, 0);
}

/***For Other Browsers ***/
::-o-selection {
  background-color: #00ffaa;
  color: rgb(0, 0, 0);
}

::-ms-selection {
  background-color: #00ffaa;
  color: rgb(0, 0, 0);
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: #00ffaa;
  color: rgb(0, 0, 0);
}


  /* ===============================================================================
SIDENAV
*/

.sidenav {
  height: 100%;
  width: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 16px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.reader {
  height: 100%;
}


  /* ===============================================================================
CARD
*/

.container {
  margin-top: 120px;
  margin-bottom: 120px
}

.btn-lg,
a:focus,
a:active {
  outline: none !important;
  box-shadow: none !important
}

.card-1 {
  box-shadow: 2px 4px 15px 0px #AA00FF
}

p {
  font-size: 13px
}

.small {
  font-size: 9px !important
}

.cursor-pointer {
  cursor: pointer
}

.btn-round-lg {
  border-radius: 22.5px;
  background-color: #eee;
  color: #3D5AFE;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.9px;
  padding: 8px 20px 8px 20px !important;
  border: 1px solid #fff
}

.btn-round-lg:hover {
  background-color: #fff;
  color: #3D5AFE;
  border: 1px solid #fff
}

.btn-round-lg:focus {
  border: 1px solid #fff !important
}

.card {
  background-color: #3D5AFE !important;
  color: white
}